$ cat .gitignore
*.Debug
*.Release
*.o
*.sdf
*.suo
*.db
*.opensdf
.svn
*.opendb
*.cache
*.tlog
*.log
*.lastbuildstate
moc_*.cpp
ui_*.h
*.res
*.obj
*.qm
qrc_*.cpp
*.idb
*.user
*.pdb
*.pch
*.aps
*.ipch
*.iobj
*.ipdb
*.stash
*.exe
\!moc!
Makefile
*Debug
*%build%
release
Debug
qt_5_12_0_sse
qt_5_7_0_sse
*.am
*.filters
*%_CL_*%
/Project/C++/Pr/*.user
